:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

body {
  margin: 0px;
}

img {
  display: block;
}

p {
  padding: 0;
  margin: 0;
}

.search-form {
  position: fixed;
  width: 100vw;
  z-index: 999;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 15px;

  background-color: blue;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.search-form input {
  padding: 10px;
  margin-right: 4px;

  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3470f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms;
}

.search-form button:hover {
  background-color: #0b2d76;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
  padding-top: 100px;
  margin: 0 15px;
}

.photo-card {
  width: 340px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.info {
  padding: 15px 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-thumb {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.load-more,
.colection-end {
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3470f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms;
}

.colection-end {
  display: block;
  cursor: auto;
  background-color: green;
  opacity: 0.75;
}

.load-more:hover {
  background-color: #0b2d76;
}

.is-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*  */

.gallery__image:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
}

.gallery__link:hover {
  cursor: zoom-in;
}
